* {
    box-sizing: border-box;
}

.login {
    background-color: #FFF436;
    border: solid 1px #FFF436;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
    font-variant: small-caps;
    padding: 5px 10px;
    margin: 0 auto;
    width: 20%;
}

.login-link {
    color: #000000;
}

.pointer {
    cursor: pointer;
}

@media screen and (max-width:800px){
    .login {
        width: 30%;
        margin-top: 0px;
    }
}

@media screen and (max-width:600px){
    .login {
        width: 40%;
        margin-top: 10px;
    }
}