* {
    box-sizing: border-box;
}

.song-list-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 50px auto;
    border-top: solid 5px yellow;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

@media screen and (max-width:800px){
    .song-list-wrapper{
      display: block;
    } 
}