* {
    box-sizing: border-box;
}

.song-wrapper {
    width: 30%;
    margin-top: 50px;
    flex-shrink: 0;
}

.song-item {
    list-style: none;
    font-size: 20px;
    font-weight: 700;
    font-variant: small-caps;
    width:100%;
}

.song-item:hover {
    color: #247BA0;
}

.views {
    padding: 0 0 5px 0;
    margin: 0;
    font-size: 15px;
}

.song-image {
    border: solid 5px #FFF436;
    border-radius: 20px;
}

.pointer {
    cursor: pointer;
}

@media screen and (max-width:1200px){
    .song-wrapper {
        width: 50%;
        margin-top: 50px;
        flex-shrink: 0;
    }
}

@media screen and (max-width:800px){
    .song-wrapper {
        width: 90%;
        margin-top: 50px;
        flex-shrink: 0;
        margin: 0 auto;
    }
    .song-item {
        margin-top: 20px;
    }
}