* {
    box-sizing: border-box;
}

.song-details-wrapper {
    display: grid;
    grid-template-areas:
    "t t t t t"
    "y y y y y"
    "a a w w w"
    "a a p p p"
    "m m m m m"
    "b . . . .";  
    width: 90%;
    margin: 0 auto;
}

.song-title-art {
    grid-area: t;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

.full-title {
    text-transform: uppercase;
    font-size: 50px;
    margin: 50px 0 0 0;
    padding: 0;
    width: 70%;
}

.song-art-wrapper {
    margin-top: 20px;
    width: 10%;
}

.song-art {
    width: 200px;
    border: solid 5px #FFF436;
    border-radius: 100px;
    margin: 0;
}

.release-year {
    grid-area: y;
    font-size: 40px;
    margin: 10px auto;
    padding: 0 0 20px 0;
    border-bottom: solid 5px #FFF436;
    width: 90%;
}

.album-image-wrapper {
    grid-area: a;
}
.album-title {
    font-size: 20px;
    margin: 20px 0;
    padding: 0;
}

.album-title-italic {
    font-style: italic;
}

.song-producer-wrapper {
    grid-area: p;
    margin: 0;
    padding: 0 20px; 
}

.song-producer-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.producer-name, .writer-name {
    margin: 0;
    padding: 10px 0;
    font-size: 15px;
}

.producer-image {
    width: 100px;
}

.song-writer-wrapper {
    grid-area: w;
    margin: 0;
    padding: 0 20px;
}

.song-writer-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.writer-name-image, .producer-name-image {
    width: 20%;
    margin: 0 10px;
}

.writer-image {
    width: 100px;
}

.album-image-wrapper {
    margin-bottom: 50px;
    padding: 0 100px;
}

.album-image-wrapper img {
    width: 300px;
    border: solid 5px #FFF436;
    border-radius: 20px;
}

.media-wrapper {
    grid-area: m;
    margin: 0;
    padding: 0 20px; 
    width: 100%;
}

.media-title, .producer-writer-title {
    font-size: 25px;
    font-variant: small-caps;
    padding: 5px;
    background-color: #FFF436;
    border-bottom: solid 1px #FFF436;
    border-radius: 10px;
    margin: 20px 150px 0 150px;
}

.media-logo-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    margin: 5px auto;
}

.medium-logo {
    width: 20%;
    padding: 5px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-variant: small-caps;
    font-weight: 700;
}

.logo-img {
    width: 30%;
    margin: 10px auto;
    display: block;
}

.back-button {
    grid-area: b;
    font-size: 20px;
    font-variant: small-caps;
    background-color: #000000;
    border: solid 1px #000000;
    border-radius: 5px;
    color: #ffffff;
    margin-bottom: 20px;
    padding: 10px 5px;
    outline: none;
    width: 100%;
}

.pointer {
    cursor: pointer;
}

@media screen and (max-width:1300px){
    .writer-name-image, .producer-name-image {
        width: 30%;
    }
    .back-button {
        width: 100%;
    }
    .song-title-art {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .song-art-wrapper {
        margin: 20px auto;
        width: 50%;
    }
    .full-title {
        width: 100%;
    }
}

@media screen and (max-width:1100px){

    .song-details-wrapper {
        display: block;
    }
    .writer-name-image, .producer-name-image {
        width: 30%;
    }
    .song-art-wrapper {
        width: 100%;
    }
    .full-title {
        width: 100%;
    }
    .release-year {
        width: 100%;
    }
    .back-button {
        width: 20%;
        margin-bottom: 50px;
    }
    .medium-logo {
        margin: 20px auto;
    }
}

@media screen and (max-width:700px){
    .full-title {
        font-size: 30px;
        width: 100%;
    }
    .release-year {
        font-size: 30px;
    }
    .album-image-wrapper {
        padding: 0;
    }
    .album-title {
        font-size: 30px;
        width:100%;
    }
    .back-button, .media-title, .producer-writer-title {
        width: 90%;
        margin: 20px auto;
    }
    .back-button {
        width: 30%;
    }
    .writer-name-image, .producer-name-image {
        width: 50%;
        margin: 20px auto;
    }
    .medium-logo {
        width: 50%;
    }
}
